.footer__copyright {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 67px 0 60px;
  padding: 0;
  color: #545454;
}

@media screen and (max-width: 600px) {
  .footer__copyright {
    padding-left: 14px;
    padding-right: 17px;
    margin-top: 48px;
    margin-bottom: 36px;
  }
}
