.popup__close {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  background-image: url(../../../images/close.svg);
  background-position: center;
  border: none;
  background-color: #000;
  cursor: pointer;
}

@media screen and (max-width: 450px) {
  .popup__close {
    right: 0;
  }
}
