.popup__window {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 394px;
  min-height: 299px;
  margin: 195px auto 0;
  background-color: #fff;
  border-radius: 10px;
  color: #000;
  padding-top: 34px;
}
@media screen and (max-width: 555px) {
  .popup__window {
    width: 282px;
    margin-top: 123px;
    padding-left: 0;
    padding-top: 25px;
  }
}
