.popup__form-button {
  max-width: 358px;
  min-width: 238px;
  width: 85%;
  height: 50px;
  font-size: 18px;
  line-height: 22px;
  border: 0;
  margin: 48px auto 37px;
  cursor: pointer;
  color: white;
  font-family: inherit;
  background-color: #000;

}
